nav {
  font-family: "Lato", sans-serif;
  background-color: #424242;
}

.logo {
  color: #fff;
  font-family: "lato", sans-serif;
  font-size: 1.5em;
  text-decoration: none;
}

ul.nav a {
}

ul.nav a:hover {
}

.active:a {
  background-color: #616161;
}
.navbar {
  width: 100% !important;
}
