.container {
  background-color: #fff;
  animation-name: container;
  animation-duration: 3s;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

@keyframes container {
  from {
    background-color: rgb(172, 169, 169);
  }
  to {
    background-color: #fff;
  }
}

ul {
  padding: 0;
  width: 1200px;
  margin: 20px auto;
}

li {
  display: inline;
}

.tn {
  margin: 6px;
  border: 1px solid #eee;
  box-shadow: rgb(196, 194, 194) 1px 1px 8px 1px;
  background-color: rgb(229, 228, 248);
}

.btn {
  display: inline-block;
  background: none;
  color: #333;
  border: 1px solid #333;
  padding: 10px 25px;
  margin: 10px 10px 15px 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  color: rgb(255, 255, 255);
  background: #333;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.thumbnail-parent {
  display: inline;
}
